/* Custom styling for scroll bar */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scroll bar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the scroll bar thumb */
  border-radius: 4px; /* Set the border radius of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the background color of the scroll bar track */
}
